<div class="d-flex">
  <div class="polaris-card card" style="width: 18rem;">
    <a href="#">
      <div class="polaris-card-top card-img-top">
        <picture>
          <source srcset="./profile.jpg" media="(min-width: 1000px)" alt="profile"/>
          <source srcset="./profile.jpg" media="(min-width: 700px)" alt="profile"/>
          <img src="./profile.jpg" class="polaris-card-top-image" alt="profile"/>
        </picture>
      </div>
      <div class="polaris-card-bottom card-body">
        <h2>Arnold Davis</h2>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
      </div>
    </a>
  </div>
</div>